* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wdth,wght@0,118.6,100..900;1,118.6,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400..700&family=Readex+Pro:wght@160..700&display=swap');
:root {
    --padding: 4%;
    font-size: 16px;
    --bleu: #20c997;
    --bb: rgb(2, 116, 116);
    --b: rgb(216, 166, 28);
    --blak: #181717;
    --defcolor: rgb(255, 255, 255);
    --whiteshado: rgb(235, 232, 232);
}

body {
    background-color: #fff; /* لون الخلفية الأبيض في الوضع الافتراضي */
    color: #000; /* لون النص الأسود في الوضع الافتراضي */
}

.dark-mode {
    background-color: var(--blak); /* لون الخلفية الأسود في الوضع الداكن */
    color: #000000; /* لون النص الأبيض في الوضع الداكن */
    transition: all 0.3s ease;
}

html {
    font-family: "Readex Pro", sans-serif;
    color: var(--bb);
    scroll-behavior: smooth;
}
.dark-mode #home{
    background-color: #2b2a2a;
    transition: all 0.3s ease;
}

h1,
h2 {
    font-family: "Readex Pro", sans-serif;
}
.dark-mode h1{
    color: rgb(4, 150, 150);
}

ul {
    list-style: none;

}

a {
    text-decoration: none;
}

/* الكلاسات متعددة الاستخدامات */
.text-pry {
    color: var(--b);
    font-family: "Readex Pro", sans-serif;


}
.dark-mode .text-pry {
    color: var(--bleu);
    transition: all 0.3s ease;

}

.btn-pry {
    background-color: var(--b);
    color: var(--bb);
    padding: 8px 20px;
    font-weight: 700;
    border: none;
    font-size: 14px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}
#home .navbar nav .btn-pry {
    background-color: var(--b);
    color: var(--bb);
    padding: 8px 20px;
    width: 50px;
    font-weight: 400;
    border: none;
    font-size: 13px;
    border-radius: 5px;
    transition: all 0.3s ease;
    cursor: pointer;
}

.dark-mode .btn-pry {
    background-color: var(--bleu);
    color: var(--blak);
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-pry:hover {
    background-color: rgb(160, 122, 17);
}
.dark-mode .btn-pry:hover {
    background-color: #068861;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 2rem;
    
}

/*header start */
#home {
    background-color: var(--whiteshado);
    height: 100vh;
}

#home .navbar {
    background-color: var(--defcolor);
    border-bottom: 2px solid #ccc;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.dark-mode #home .navbar {
    background-color: var(--blak);
    transition: all 0.3s ease;

}
#home .navbar nav .btn-pry{
 
    margin: 0.30rem;
}

#home .navbar nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    max-width: 1100px;
    padding: 1.5rem 2rem;

}
#home .navbar nav ul .moon{
    font-size: 20px;
    padding: 0;
    margin: 0;
    
}

#home #logo {
    color: var(--bb);
    font-size: 24px;
    font-weight: 600;
}
.dark-mode #home #logo {
    color: var(--whiteshado);
}

#home #logo img {
    max-width: 200px;
}

#home .navbar nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
#home .navbar nav ul .btn-pry{
    margin: 0 2px;
    font-weight: 600;
}

#home .navbar nav ul a {
    margin: 0 20px;
    color: var(--b);
    font-weight: 600;
    font-size: 14px;
    transition: all 0.3s ease;
}
#home .navbar nav ul a:hover{
    color: var(--bb);
}
.dark-mode #home .navbar nav ul a:hover{
    color: var(--whiteshado);
}

#home .header-contant {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    align-items: center;
    max-width: 1100px;

    margin: auto;
    padding: 5rem 2rem 0;
    height: 100%;
}

#home .header-contant .content-text {
    margin-bottom: 4rem;
}

#home .header-contant img {
    max-width: 300px;
}

#home .header-contant P span {
    font-weight: 700;
    font-size: 20px;
}

#home .header-contant h1 {
    font-size: 60px;
    color: var(--bb);
    text-shadow: -3px 3px 3px rgb(0, 0, 0, 0.2);
    margin-top: 10px;
}
.dark-mode #home .header-contant h1 {
    color: rgb(7, 155, 155);
}

#home .header-contant .title {
    font-size: 20px;
    color: var(--blak);
    margin: 10px 0;
    font-weight: 500;
}
.dark-mode #home .header-contant .title {
    color: var(--whiteshado);
    transition: all 0.3s ease;
}

#home .header-contant .social {
    margin: 1rem 0 2rem;
}

#home .header-contant .social a i {
    font-size: 18px;
    padding: 10px;
    background-color: var(--defcolor);
    color: var(--bb);
    border-radius: 50%;
    margin-left: 10px;
    transition: all 0.3s ease;

}
.dark-mode #home .header-contant .social a i {
    background-color: var(--blak);
    color: var(--whiteshado);
    transition: all 0.3s ease;

}

#home .header-contant .social a i:hover {
    transform: scale(0.85);
}

/*header End */

/*about start */
#About,
#skills,
#Services,
#Portfolio {
    padding: 6rem 0;
}

#About h2,
#skills h2,
#Services h2,
#Portfolio h2,
#Contact h2 {
    text-align: center;
    font-size: 38px;
    color: var(--blak);
    font-weight: 600;
    letter-spacing: 1px;
}
.dark-mode #About h2,
#skills h2,
#Services h2,
#Portfolio h2,
#Contact h2 {
    color: var(--whiteshado);
}

#About hr,
#skills hr,
#Services hr,
#Portfolio hr {
    width: 100px;
    height: 4px;
    background-color: var(--b);
    border: none;
    margin: 5px auto 0;
    border-radius: 20px;
}
.dark-mode #About hr,
#skills hr,
#Services hr,
#Portfolio hr {
    background-color: var(--bleu);
}

#About .about-content {
    margin-top: 4rem;
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 3rem;
}

#About .about-content .col1 h3 {
    font-size: 28px;
    color: var(--bb);
    margin-bottom: 20px;
    font-weight: 900;
}
#About .about-content .col1 h3 {
    font-size: 28px;
    color: var(--bb);
    margin-bottom: 20px;
    font-weight: 900;
}
.dark-mode #About .about-content .col1 h3 {
    color: var(--whiteshado);
}

#About .about-content .col1 p {
    color: var(--blak);
    margin-bottom: 20px;
    line-height: 1.4;
}
.dark-mode #About .about-content .col1 p {
    color: var(--whiteshado);
}
.dark-mode #About .about-content .col2 p {
    color: var(--whiteshado);
    border-bottom: 0.89px solid rgb(216, 166, 28);
  
}



#About .about-content .col2 p {
    color: var(--blak);
    margin-bottom: 20px;
    border-bottom: 0.89px solid rgb(2, 116, 116);
    padding-bottom: 5px;
    transition: all 0.3s ease;
}


/*about End */
#skills {
    background-color: var(--bb);
}

#skills h2,
#Portfolio h2 {
    color: var(--whiteshado);
}
.dark-mode #skills samp{
    color: var(--b);
}
#skills .row img {
    max-width: 70px;
}

#skills .skills-content {
    margin-top: 2rem;
    background-color: rgb(2, 53, 53);
}

#skills .skills-content .row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    text-align: center;
    padding: 1rem;
}

#skills .skills-content .row .item {
    color: var(--whiteshado);
    background-color: rgba(24, 23, 23, 0.568);
    margin: 20px;
    padding: 1rem;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 600;
    transition: all 0.3s ease;
}

#skills .skills-content .row .item:hover {
    box-shadow: -1px 1px 10px #20c997;
}

#Services,
#Contact {
    background-color: var(--whiteshado);
}
.dark-mode #Services {
    background-color: var(--blak);
}

#Services .heading img {
    width: 120px;
    margin-left: 10px;
}

#Services .heading {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Services .row .item img {
    width: 100px;
}

#Services .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 4rem;
    text-align: center;
    column-gap: 2rem;
    row-gap: 4rem;

}

#Services .row .item {
    background-color: var(--defcolor);
    padding: 30px 15px;
    box-shadow: -1px 1px 7px #0080805d;
    border-radius: 5px;
    transition: all 0.3s ease;

}
.dark-mode #Services .row .item {
    background-color: rgb(19, 18, 18);
    transition: all 0.3s ease;

}

#Services h2 {
    color: var(--bb);
}
.dark-mode #Services h2 {
    color: var(--whiteshado);
}

#Services .row .item h3 {
    margin: 15px 0;
    color: var(--b);
}
.dark-mode #Services .row .item h3 {

    color: var(--bleu);
}

#Services .row .item p {
    color: #1d1c1c;
    font-size: 14px;
}
.dark-mode #Services .row .item p {
    color: var(--whiteshado);
}

#Services .row .item:hover {
    transform: scale(1.04);
}

#Portfolio {
    background-color: var(--bb);
}
.dark-mode #Portfolio h2 samp{
    color: var(--b);
}

#Portfolio .row .item img {
    max-width: 100%;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom: 2px solid #6c6d6d;


}

#Portfolio .row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-top: 4rem;
}

#Portfolio .row .item {
    background-color: var(--whiteshado);
    border-radius: 5px;
    transition: all 0.3s ease;
    box-shadow: -1px 1px 10px #002e2ed2;
}

#Portfolio .row .item:hover {
    transform: scale(1.03);

}

#Portfolio .row .item .item-content {
    padding: 20px 15px 30px;
}

#Portfolio .row .item .item-content h3 {
    font-size: 24px;
    color: var(--bb);
    margin-bottom: 10px;

}

#Portfolio .row .item .item-content a {
    font-size: 14px;
    color: var(--b);
    font-weight: 600;
}

#Contact {
    padding: 4rem 0;
    background-color: var(--whiteshado);
}

#Contact h2{
    color: var(--blak);
}
.dark-mode #Contact{
    background-color: var(--blak);
}
.dark-mode #Contact h2{
    color: var(--whiteshado);
}
.dark-mode #Contact .row .p{
    color: var(--whiteshado);
}
#Contact .row {
    margin-top: 4rem;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
    background-color: var(--defcolor);
    box-shadow: -3px 3px 20px rgba(0, 0, 0, 0.2);
    padding: 2rem 3rem;
    border-radius: 10px;
}
.dark-mode #Contact .row{
    background-color: rgb(19, 18, 18);
}

#Contact .row img {
    max-width: 400px;
}
.dark-mode #Contact .row input{
    background-color: var(--blak);
    color: var(--whiteshado);
}
.dark-mode #Contact .row .tt{
    background-color: var(--blak);
    color: var(--whiteshado);

}
#Contact .row input,
#Contact .row textarea {
    display: block;
    width: 100%;
    margin: 20px 0;
    padding: 10px;
    outline: none;
    background-color: var(--whiteshado);
    border: 1px solid rgb(2, 116, 116);
    font-family: "Readex Pro", sans-serif;
}

#footer {
    background-color: var(--bb);
    color: var(--b);
    padding: 1rem 0;
    text-align: center;
}

#footer p {
    padding: 0.67rem 0;
}
@media (max-width: 853px){
   #home .navbar nav,
    #home .navbar nav .btn-pry {
        display: block;
        text-align: center;
        margin: 0.3rem;
    }
}
@media (max-width: 768px) {
    #home .navbar nav,
    #home .navbar nav .btn-pry {
        display: block;
        text-align: center;
        margin: 0.3rem;
    }

    #home .navbar nav .logo {
        display: block;
        align-items: center;
        justify-content: center;
    }

    #home .navbar nav ul,
    #home .navbar nav .btn-pry {
        margin-top: 20px;
    }

    #home .navbar nav ul a,
    #home .navbar nav .btn-pry
    {
        margin: 0 8px;
    }

    #home .header-contant {
        grid-template-columns: 1fr;
    }

    #home .header-contant .content-text {
        margin-bottom: 0;
        margin-top: 5rem;
    }

    #home .header-contant img {
        max-width: 400px;
        margin: auto;
    }

    #home .header-contant h1 {
        font-size: 50px;

    }

    #About .about-content,
    #Contact .row {
        grid-template-columns: 1fr;
        row-gap: 3rem;

    }

    #skills .skills-content .row,
    #Services .row,
    #Portfolio .row {
        grid-template-columns: repeat(2, 1fr);
    }

    #Contact .row img {
        max-width: 300px;
        margin: auto;
    }


}
@media (max-width: 375px){
    #home .header-contant img {
        margin-top: 2rem;
        max-width: 170px;
    }
    #home .navbar nav img{
        width: 130px;
        margin: 0;
        padding: 0;
    }

}
@media (max-width: 528px) {
    #home .header-contant h1 {
        font-size: 30px;


    }

    #home .header-contant P span {
        font-size: 16px;
    }

    #home .header-contant .title {
        font-size: 14px;
    }

    #home .header-contant img {
        margin-top: 2rem;
        max-width: 270px;
    }

    #About h2,
    #skills h2,
    #Services h2,
    #Portfolio h2,
    #Contact h2 {
        font-size: 28px;
    }
    #About .about-content .col1 h3 {
        font-size: 20px;
    }
    #skills .skills-content .row,
    #Services .row,
    #Portfolio .row{
        grid-template-columns: 1fr;
    }
    #Contact .row {
        padding: 2rem 1rem;
    }
    #home .navbar nav ul a ,
    #home .navbar nav .btn-pry {
        font-size: 10px;
        margin: 0.2rem;
    }
    #home .navbar nav .btn-pry {
        width: 10px;
        font-size: 13px;
      
 
       
    }
    
    @media (max-width: 912px){
        #home .navbar nav ul a {
            margin:  0;
            font-size: 10px;
            transition: all 0.3s ease;
        }
    }
}
